body{
    background-color:#F0F8FF ;
}
p{
    color:#00008B;
}
h2,h3{
    color:#DC143C;
}
a,a:hover,a:active,a:visited{
    color:#DC143C;
}
#szarkacimkep{
    display: block;
    margin: 0px auto 0px auto;
}
hr{
    width: 70%;
    text-align: center;
}