body{
    background-color:#F0F8FF ;
}
p{
    color:#00008B;
}
h2,h3{
    color:#DC143C;
}
a,a:hover,a:active,a:visited{
    color:#DC143C;
}
#szarkacimkep{
    display: block;
    margin: 0px auto 0px auto;
}
hr{
    width: 70%;
    text-align: center;
}
table{
    border: 1px solid #000;
    width: 400px;
    display: block;
    margin: 0px auto 0px auto;
}
#sz_kep1, #sz_kep2{
    width: 230px;
    height: 153px;
}
#sz_kep2{
    float: right;
}
