body {
  background-color: #f0f8ff;
}
p {
  color: #00008b;
}
h2,h3 {
  color: #dc143c;
}
a,
a:hover,
a:active,
a:visited {
  color: #dc143c;
}
.szarkacimkep {
  display: block;
  margin: 0px auto 0px auto;
}
hr {
  width: 70%;
  text-align: center;
}
#szarkatable {
  width: 400px;
  display: block;
  margin: 0px auto 0px auto;
}
#szarkatable2 {
  width: 500px;
  display: block;
  margin: 0px auto 0px auto;
  border-spacing: 6px;
}
#szarkatable2 td,th{
    padding: 6px;
}
#sz_kep1,
#sz_kep2 {
  width: 230px;
  height: 153px;
  border: 1px solid #000;
}
#sz_kep2 {
  float: right;
}
#elsooszlop{
    width: 240px;
}
.kozep{
    text-align: center;
}
.jobb{
    text-align: right;
}
.besorol_cimsor{
    background-color:#dc143c;
}
.vil_kek{
    color: #f0f8ff;
}